<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.vm.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.base.vm.entity.VOrder">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="subscriber" column="subscriber" jdbcType="VARCHAR"/>
        <result property="subscribeNote" column="subscribeNote" jdbcType="VARCHAR"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="vehicleId" column="vehicleId" jdbcType="INTEGER"/>
        <result property="vehicleNo" column="vehicleNo" jdbcType="VARCHAR"/>
        <result property="project" column="project" jdbcType="VARCHAR"/>
        <result property="startTime" column="starttime" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="endtime" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="purpose" column="purpose" jdbcType="VARCHAR"/>
        <result property="route" column="route" jdbcType="VARCHAR"/>
        <result property="load" column="`load`" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updatetime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createtime" jdbcType="TIMESTAMP"/>
        <result property="approver" column="approver" jdbcType="VARCHAR"/>
        <result property="driver" column="driver" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="inclinationDriver" column="inclinationDriver" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subscriber,subscribenote,
        module,vehicleId,vehicleNo,
        project,starttime,endtime,
        address,purpose,route,
        `load`,updatetime,createtime,
        approver,driver,state,
        comment,inclinationDriver
    </sql>
    <select id="getOrderPage" resultType="com.base.vm.entity.vo.order.OrderListVO">
        SELECT
        o.id,
        o.subscriber,
        '未知' as subscriberName,
        '未知' as subscriberPhone,
        o.module,
        '未知' as moduleName,
        '未知' as project,
        o.project,
        '未知' as projectName,
        DATE_FORMAT(o.starttime, '%Y-%m-%d %H:%i:%s') as startTime,
        DATE_FORMAT(o.endtime, '%Y-%m-%d %H:%i:%s') as endTime,
        TIMESTAMPDIFF(SECOND, o.starttime, o.endtime) / 3600.0 as duration,
        o.vehicleId,
        o.vehicleNo,
        o.`load`,
        '未知' as loadName,
        o.address,
        o.purpose,
        o.route,
        o.subscribeNote,
        o.inclinationDriver,
        '未知' as inclinationDriverName,
        o.approver,
        '未知' as approverName,
        o.comment,
        o.driver,
        '未知' as driverName,
        '未知' as driverPhone,
        o.state,
        '未知' as stateName,
        DATE_FORMAT(o.updatetime, '%Y-%m-%d %H:%i:%s') as updateTime
        FROM v_order o
        <where>
            <if test="query.blurry != null and query.blurry != ''">
                o.vehicleno LIKE CONCAT('%', #{query.blurry}, '%')
                OR o.address LIKE CONCAT('%', #{query.blurry}, '%')
                -- 这里去掉了关联表字段的模糊查询，因为现在没有关联表了
            </if>
        </where>
        <choose>
            <when test="query.sort != null and query.sort != ''">
                ORDER BY o.${query.sort} ${query.order}
            </when>
            <otherwise>
                ORDER BY o.id DESC
            </otherwise>
        </choose>
    </select>
</mapper>
